.locations{
    box-sizing: border-box;
    margin: 50px 10% 0 10%;
    padding: 50px;
    border-radius: 25px;
    background-color: #F6F6F6;
    &__cards{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 50px 60px;
        border-radius: 25px;
        background-color: #F6F6F6;
    }
}