@import './common/variables.scss';

.caroussel{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin-top: 0px;
    margin-bottom: 30px;
    margin: 0 20px 30px 20px;

    width: 100%;
    height: 100%;

    &__img{
        border-radius: 20px;
        object-fit: cover;
        height: 415px;
        width: 100%;
        margin: 0 20px 0px 20px;

        user-select: none;
    }
    &__icon{
        z-index: 1;
        position: absolute;
        font-size: 80px;
        color: white;
        cursor: pointer;
        filter: drop-shadow(0 0 0.5rem black);
        transition: all 0.5s;

        &:hover{
            transform: scale(1.15);
            filter: drop-shadow(0 0 0.7rem black);
        }
        &-left{
            left: 3%;
        }
        &-right{
            right: 3%;
        }
    }
    &__count{
        position: absolute;
        bottom: 5%;
        font-size: 18px;
        color: white;
        user-select: none;
        filter: drop-shadow(0 0.1rem 0.1rem black);
    }
    @media screen and (max-width:$responsive-size-mobile){
        margin-bottom: 10px;
    }
}