.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 65px 0 50px 0;
    gap: 30px;
    background-color: black;
    &__logo{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 5px;
    }
    p{
        font-size: 24px;
        color: white;
    }

    @media screen and (max-width:1050px){
        p{
            font-size: 12px;
        }
    }
}