@import './common/variables.scss';

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 45px 10% 50px 10%;
    img{
        height: 64px;
    }
    @media screen and (max-width:$responsive-size-mobile){
        margin: 45px 20px 50px 20px;
        img{
            height: 47px;
        }
    }
}