@import './common/variables.scss';

.rating{
    display: flex;
    flex-direction: row;
    gap: 15px;
    &__star{
        font-size: 22px;
        color: rgb(204, 204, 204);
        &-red{
            color: $main-color;
        }
    }        
    @media screen and (max-width: $responsive-size-mobile){
        gap: 8px;

        &__star{
            font-size: 18px;
        }
    }    
}
