@import '../../Assets/sass/common/variables.scss';

.error{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    color: $main-color;

    h1{
        font-weight: 700;
        font-size: 288px;
    }
    p{
        font-size: 28px;
    }
    a{
        font-size: 18px;
        color: $main-color;
        text-decoration: underline;
    }
    @media screen and (max-width:$responsive-size-mobile){

        gap: 100px;
        h1{
            font-size: 96px;
        }
        p{
            width: 260px;
            text-align: center;
            font-size: 18px;
        }
        a{
            font-size: 14px;
        }
 
    }


}